ion-content {
  --background: linear-gradient(#fff, #fff, #e6c573);
#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
  
    color: azure;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 15px;
    line-height: 22px;
  
    color: azure;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }


  h4,h6, p {
    text-align: center;

  }
  .line {
    border: none;
    border-top: 1px solid black;
    margin: 30px;
  }

  .t {
    text-align: left;
    margin-left: 15px;
  }
  .b {
    font-weight: bold;
  }

  .contact {
    text-align: left;
    margin-left: 15px;
  }

  .number {
    text-align: right;
    margin-right: 70px;
  }

  .facebook {
    width: 15%;
    height: 15%;
    transform: translateX(280%);
}
}