#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
  
    color: azure;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 15px;
    line-height: 22px;
  
    color: azure;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  

  #baptist{
    display: flex;
    justify-content: center;
  }

  #wedd{
    display: flex;
    justify-content: center;
  }

  ion-card {
    width: 100%;
  }
  .swiper-slide-active {
    transform: scale(1.05, 1.05);
  }

  .swiper-slide {
    transition: 400ms all ease-in-out;
  }