ion-content {
 --background: linear-gradient(#fff, #fff, #e6c573);

  #header {
    height: 33%;
    background: #7972ed
    border-radius 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 20px;

    app-bar {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      ion-icon {
        font-size: 24px;
        margin-left: -5px;
      }

      #logo {
        width: 30px;
        height: 30px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        align-self: center;
      }
      img {
        width: 50%;
      }
    }
    h1 {
      font-size: 19px;
      margin-bottom: 5px;
      text-align: center;
    }

  }
  .wrapper {
    align-content: center;
    top: 26%;
    left: 4%;

    .form-wrapper {
      box-shadow: none;
      border-radius: 20px;
      padding: 15px 10px;

      ion-item {
        --background: #efefef;
        --padding-start: 10px;
        --highlight-height: 0;
        --border-width: 0;
        --border-top: 0;
        --min-height: 40px;
        margin-bottom: 15px;
        border-radius: 5px;

        ion-icon {
          font-size: 10px;
        }

        ion-input {
          margin-left: 10px;
          font-size: 14px;
        }

      }

      ion-button {
        margin-top: 25px;
      }
    }
  }
}