ion-content {
    --background: linear-gradient(#fff, #fff, #e6c573);
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ion-content {
    --background: var(--ion-color-primary-shade);

}

h5 {
    text-align: center;
}
}